*{
	margin: 0;
	padding: 0;
	-webkit-user-select: none;/*//设置用户不能进行文字复制粘贴*/
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: salmon;
}
.d_none{
	display: none;
}
.d_block{
	display: block;
}

.le{
	float: left;
}
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
/*搜索栏*/
#nav {
	height: 90px;
	width: 1091px;
	text-align: center;
	margin:0px  auto;
}
#nav  a {
	vertical-align: middle;
}

#nav a img {
	width: 84px;
	height: 46px;
	margin-top: 20px;
}
#nav a div {
	display: inline-block;
}

#nav a div i {
	color: orange;
	font-size: 15px;
}
#nav a div i:nth-child(1) {
	color: orange;
	font: bold normal 30px "微软雅黑";
}
.nav_content {
	width: 482px;
	height: 70px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 120px;
}
.nav_content_top {
	width: 482px;
	position: relative;
	z-index: 50;
}
.search {
	border: 1px solid orange;
	width: 480px;
	height: 34px;
	border-radius: 0 6px 6px 0;
}
.select {
	position: relative;
	display: inline-block;
	width: 60px;
	z-index: 10;
	text-align: center;
	font-size: 10px;
	vertical-align: top;
}
.select span {
	display: block;
	height: 34px;
	line-height: 34px;
	color: orange;
	cursor: pointer;
	background-color: white;
	background-image: url(../img/delta.png);
	background-repeat: no-repeat;
	background-position: center right;
}
#top_nav_form {
	overflow: hidden;
	height: 34px;
	display: inline-block;
}
.search1 {
	overflow: hidden;
	width: 305px;
	height: 22px;
	line-height: 22px;
	padding: 6px 0 6px 10px;
	border: none;
	outline: none;
	color: #999;
	font-size: 12px;
	background-color: white;
}
.search2 {
	height: 34px;
	line-height: 34px;
	overflow: hidden;
	width: 95px;
	background-color: orange;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	color: white;
	border-radius: 0 5px 5px 0;
}
.nav_top_word a {
	font-size: 12px;
	color: black;
	margin-right: 2px;
}
.nav_top_word a:hover {
	color: orange;
}




.per_cont{
	width: 968px;
	margin: 0px auto;
	border-left:1px solid silver ;
	border-right:1px solid silver ;
}
.per_cont_nav{
	width: 140px;
	margin-right:20px ;
	background: url(../img/person_bg.png);
}
.per_img{
	width: 110px;
	padding:20px 0px 20px 0px;
}
.per_img div{
	width: 110px;
	height: 110px;
	padding: 5px 15px 5px 15px;
}
.per_img p{
	padding: 0px 10px 0px 10px;
	font-size:12px ;
	text-align: center;
}
.per_img~div{
	padding: 0px 20px 0px 20px;
}
.per_img_mess{
	border-top:1px solid silver ;
	border-bottom:1px solid silver ;
}
.per_title {
	height: 57px;
	line-height: 57px;
}
.per_nav_item li{
	margin: 5px 0px 5px 0px;
	font-size:13px ;
}
/*右边内容*/
.per_right_cont{
	padding: 30px 0px 0px 50px;
}
.per_box{
	width: 700px;
}
.basic_data,.other_infor{
	display: block;
	padding-left:20px ;
	background: url(../img/person_bg.png);
	height: 30px;
	margin-bottom:10px ;
	line-height:30px ;
	color: #FF5777;
}
.per_username span:nth-of-type(3){
	color: red;
	display: inline-block;
	margin-left:8px ;
}
.per_username,.per_sex,.home,.birthday,.professional{
	margin-bottom: 23px;
	padding-left: 40px;
	font-size: 13px;
}
.introduce_myself{
	padding:15px 0px 0px 69px; 
}
.introduce_myself span{
	display: inline-block;
	float: left;
	font-size:14px ;
	margin-right:5px ;
}
.write{
	width: 460px;
}
.modify_succes{
	padding: 14px 0px 0px 130px;
}
.modify_succes input{
	width: 103px;
	height: 30px;
	border: none;
	background: darksalmon;
}
.nickname{		/*调整位置,昵称,职业等等*/
	width: 80px;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
}
/*修改用户密码*/
.per_cont_pass,.shippAddress{
	padding: 20px 0px 20px 15px;
	position: relative;
}
.main_cont{
	border: 1px solid silver;
}
.main_cont div:nth-of-type(1){
	height: 40px;
	line-height: 40px;
	background: url(../img/person_bg.png);
	width: 791px;
}
.per_cont_form{
	padding: 128px 0px 5px 180px;
}
.per_cont_form p{
	margin-bottom: 15px;
}
.per_button button{
	width: 88px;
	height: 28px;
	background-color: #FF5777;
	color: white;
	border: none;
	margin-left:259px ;
}
.current_pass span,.new_pass span,.confirm_pass span{
	width: 80px;
	text-align: right;
	display: inline-block;
	font-size: 13px;
	margin-right:6px ;
}
.current_pass input,.new_pass input,.confirm_pass input{
	width: 284px;
	height: 30px;
}
.mouse{
	position: absolute;
	right: 0px;
	bottom:21px;
}
.tip{
	color: red;
	font-size: 13px;
	padding-left:82px ;
}

/*邮政编码*/
.shippAddress h2{
	border-bottom: 1px solid  #C0C0C0;
	width: 793px;
	margin-bottom:20px ;
}
.add_addres{
	margin-top:8px ;
}
.add_addres span,.cancel a{
	display: inline-block;
	background-color: orange;
	width: 115px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	color: white;
}
.cancel a:nth-of-type(2){
	background: darkgray;
	margin-left: 20px;
}
.cancel{
	padding: 20px 0px 0px 153px;
}
.addr_box{
	margin:20px 0px 0px 0px ;
	font-size: 13px;
	background: #fafafa;
	padding: 3px 0px 15px 0px;
}
.addr_box p{
	padding:10px 0px 0px 153px;
}
.prov_city,.postal,.street,.consignee,.phone{
	margin: 30px 0px 0px 30px;
}
.prov_city span:nth-of-type(1),.postal span,.street span,.consignee span,.phone span{
	display: inline-block;
	width:120px;
	text-align: right;
	margin-right: 5px;
}
.prov,.provCity,.provCityArea{
	display: inline-block;
	margin-right: 15px;
}
.prov_city span:nth-of-type(1),.prov_city span:nth-of-type(2),.prov_city span:nth-of-type(3){
	display: inline-block;
	margin-right: 5px;
}
.textStreet,.write{
	padding: 6px 0px 0px 6px;
}
.shorthand{
	background: #fafafa;
	margin: 10px 0px 10px 0px;
}
.shorthand span:nth-of-type(1),.shorthand span:nth-of-type(2),.shorthand span:nth-of-type(3),.shorthand span:nth-of-type(4),.shorthand span:nth-of-type(5){
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-size:12px ;
}
.shorthand span:nth-of-type(1){
	width: 90px;
}
.shorthand span:nth-of-type(2){
	width: 180px;
}
.shorthand span:nth-of-type(3){
	width: 280px;
}
.shorthand span:nth-of-type(4){
	width: 120px;
}
.shorthand span:nth-of-type(5){
	width: 100px;
}
.dele{
	width: 130px;
}
.checkError{
	color: red;
}
